.DS_Store
docs
data-dumps
data-parsed
src/__pycache__/
src/parse/__pycache__/
*.pyc
.tag*
downloads/
src/scripts/fawkes_secrets.env
fawkes-config/
trained-models/
storages.json
app/*.csv
app/*.json
app/*.py
!app/app-config.json
!app/bug-feature-keywords.json
!app/app-keywords.json
!app/sample-mint-config.json
!app/sample-mint-keywords-with-weight.json
!app/sample-mint-bug-feature-file-with-weights.json
data/*.json
data/*.csv
!data/sample-mint-appstore-raw-feedback.json
processed-data/
.coverage
coverage.xml