.DS_Store
fawkes/__pycache__/
fawkes/parse/__pycache__/

*.pyc
.tag*
.idea/

# All the secret files
scripts/fawkes-secrets.env

# Google Spreadsheets
storages.json

# App Config related
app/*.csv
app/*.json
app/*.py
!app/fawkes-config.json
!app/bug-feature-keywords.json
!app/category-keywords.json

# Data related stuff
data/**/*.json
data/**/*.csv
data/**/*.h5
data/**/*.html

# Enabling sample-data
!data/raw_data/sample-mint/*
!data/parsed_data/sample-mint/*
!data/processed_data/sample-mint/*

# Code coverage
.coverage
coverage.xml

# All the binaries including elasticsearch, kibana etc.
bin/
lib/
pyvenv.cfg

# Documentation
docs/

# PyInstaller related stuff
cli.spec
build/
dist/
