<div class="reviewBlock">
    <tr>
        <td colspan="3" height="20"><img alt="" height="20" src="" style="display:block;" width="1" border="0" /></td>
    </tr>
    <tr>
        <td colspan="3" align="center" style="padding: 0 90px;" class="mobile_padding2">
            <span style="font-size:22px; line-height:28px; font-family:'Avenir Next', Avenir, Helvetica, sans-serif; color:#393A3D; font-weight: 600;" class="mobile22">
                <b>${catetgoryName}</b>
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="3" align="center" style="padding: 0 75px;" class="mobile_padding"><span style="font-size:16px; line-height:22px; font-family:'Avenir Next', Avenir, Helvetica, sans-serif; color:#6B6C72;" class="mobile14">${usersTalking} users are talking about it.</span></td>
    </tr>
    <tr>
        <td colspan="3" height="25" style="line-height: 25px;"><img alt="" height="25" src="" style="display:block;" width="1" border="0" /></td>
    </tr>
    <tr>
        <td colspan="3" align="center" style="padding: 0 75px;" class="mobile_padding"><span style="font-size:16px; line-height:22px; font-family:'Avenir Next', Avenir, Helvetica, sans-serif; color:#6B6C72;" class="mobile14">${reviewText}</span></td>
    </tr>
</div>
